# Entorno virtual
poemasenv/
venv/
.env
env/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de base de datos locales
*.db
*.sqlite3
*.db

# Archivos de configuración o credenciales
*.env
*.log

# Archivos de sistema
.DS_Store
Thumbs.db


# Archivos de configuración sensibles
instance/

# Archivos del sistema
.DS_Store
*.swp