{% extends "base.html" %}


{% block titulo %}Agregar poema{% endblock %}


{% block contenido %}
<h2>Nuevo poema</h2>

<main class="form_container">
  <form method="POST" class="form_poema">
     <label for="titulo">Título:</label><br>
     <input type="text" class="enviar_poema titulo" id="titulo" name="titulo" placeholder="Titulo del poema" required><br><br>
    
     <label for="contenido">Contenido:</label><br>
     <textarea class="contenido enviar_poema" id="contenido" name="contenido" rows="10" placeholder="Exprese el poema" required> </textarea><br><br>
  
      
     <label for="etiquetas">Etiquetas (separadas por comas):</label><br>
     <input placeholder="Etiquetas para filtrado" class="enviar_poema" type="text" id="etiquetas" name="etiquetas"><br><br>
  
     <button class="enviar_poema boton" type="submit">Guardar poema</button>
  </form>
</main>

<!-- ver Eliminar -->
<h2>Poemas Agregados</h2>
<section class="poemas">
    {% for poema in poemas %}
    <article class="poema">
      <h2>{{ poema.titulo }}</h2>
      <p>{{poema.contenido}}</p>
      <form action="{{ url_for('eliminar_poema', id=poema.id) }}" method="POST" style="display:inline;">
        <button type="submit" onclick="return confirm('¿Estás seguro que querés eliminar este poema?')">Eliminar</button>
    </form>
    </article>
    {% endfor %}
</section>




{% endblock %}