<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Poemas originales, escritos con emoción y dedicación.">
<meta name="author" content="Gabriel Miranda">
<meta name="keywords" content="poesía, poemas, literatura, sentimientos, skalad">
<!-- Estilos CSS -->
 <link rel="stylesheet" href="{{url_for('static', filename = 'CSS/base.css')}}">
 <link rel="stylesheet" href="{{url_for('static', filename = 'CSS/index.css')}}">
 
<!-- Favicon -->
<link rel="icon" href="{{ url_for('static', filename= 'IMG/ghost-face.png') }}" type="image/png">
<!-- FONTS -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">



<title>Skald ghost</title>
<style>
    body { font-family: sans-serif; }
    footer { margin-top: 50px; font-size: 0.9em; color: #000;}
</style>
