{% extends "base.html" %}

{% block contenido %}
    <div class="containerh2"><h2>Bienvenido</h2></div>

    <section class="poemas">
        <article class="poema">
            <h3>Sueños vencidos:</h3>
            <p>
                    Cada vez que pienso en mi pasado<br>
                    veo todo el camino que recorrí cansado,<br>
                    las piernas temblorosas y los brazos pesados<br>
                    no tienen valor en la actual vida que cargo.<br>
                    Hace x años soñé;<br>
                    hoy x años despues, desperté.<br>
                    Viendo que mi sueño no era mas que eso:<br>
                    Un sueño.<br>
                    Si quizá hubiese trabajado más y dormido menos<br>
                    hoy estaría riendo y nadando<br>
                    y no llorando y hambreado.<br>
                    Escucho mi propia voz en mi oído,<br>
                    como si mi yo del pasado reclamara quien he sido,<br>
                    Mudo sin poder explicarlo, me acuesto en mi lecho<br>
                    soñando un nuevo hecho.
            </p>
        </article>

        <article class="poema">
            <h3>Belleza en el desastre:</h3>
            <p>
               Qué difícil es vivir en este mundo,
                oh, qué dolor es ver vida tras vida,
                oh, qué impotencia provoca la pérdida,
                qué difícil es estar en este mundo. <br>
                Aun así, las aves aletean tras la tormenta:<br>
                gris,<br>
                oscura.<br>
                Las mariposas sobrevuelan escombros,<br>
                buscando una razón,<br>
                un porqué,<br>
                un sol.<br>
                Las hojas brotan en un árbol pelado<br>
                tras un otoño violento.<br>
                Las plantas rompen los cimientos<br>
                para respirar y crecer.<br>
                Un arbusto llora al no entender por qué lo despojan,<br>
                para luego florecer<br>
                y convertirse en el más grande y bello.
            </p>
        </article>

        <article class="poema">
            <h3> cenizas de lo que fue :</h3>
            <p>
               La llovizna en mi frente disfraza las lágrimas de mis ojos,<br>
                mientras el frío viento de la noche susurra tu nombre.<br>
                Tu ausencia marchita mi corazón, quebranta mi espíritu,<br>
                y en la soledad, giro buscando el eco de tu esencia,<br>
                pero se desvanece, como gotas perdidas en el mar.<br>
                Aun así, mi corazón arde, más intenso que cualquier fuego,<br>
                pues en mí brota un amor incondicional, eterno,<br>
                nacido de tu ser, forjado en cada recuerdo.
            </p>
        </article>

    </section>
    
{% endblock %}
