{% extends "base.html" %}

{% block contenido %}

<form method="GET" action="{{ url_for('more') }}">
  <label for="filtro_etiqueta">Filtrar por etiqueta:</label>
  <select name="etiqueta" id="filtro_etiqueta" onchange="this.form.submit()">
    <option value="">-- Todas --</option>
    {% for etiqueta in etiquetas %}
      <option value="{{ etiqueta }}" {% if request.args.get("etiqueta") == etiqueta %}selected{% endif %}>{{ etiqueta }}</option>
    {% endfor %}
  </select>
</form>

<section class="poemas">
    {% for poema in poemas %}
    <article class="poema">
      <h2>{{ poema.titulo }}</h2>
      <p id="resumen-{{ poema.id }}">
        {{ poema.contenido[:200] }}{% if poema.contenido|length > 200 %}...{% endif %}
      </p>
      {% if poema.contenido|length > 200 %}
        <button onclick="mostrarPoema({{ poema.id }})">Ver más</button>
        <p id="completo-{{ poema.id }}" style="display:none; white-space: pre-wrap;">
        {{ poema.contenido }}
      </p>
      {% endif %}
      <!-- <p>{{poema.contenido}}</p>{{ poema.contenido | e }} -->
    </article>
    {% endfor %}
</section>

<script src="{{url_for('static', filename='JS/more.js')}}"></script>
{% endblock %}